
furo
markupsafe
matplotlib
myst-parser[linkify]
onnx
onnxruntime
pillow
pydot
sphinx-copybutton
sphinx-exec-code
sphinx-gallery
sphinx-tabs
sphinx
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
