
furo
markupsafe
matplotlib
myst-parser[linkify]
onnx
onnxruntime
pillow
pydot
sphinx-copybutton
sphinx-exec-code
sphinx-gallery
sphinx-tabs
sphinx
sympy>=1.12 # not directly required, pinned by Snyk to avoid a vulnerability
